$primarySage:  #87bcbf;
$primaryRust:  #d97d54;
$primaryDrab:  #324755;
$primaryDanger:  #d95454;

$secondaryIce:  #f0f3f4;
$secondaryFossil:  #c8d1d3;
$secondarySand:  #b9b0a2;

$typographyOnyx:  #1b1c20;
$typographySlate:  #6e8ca0;
$typographySnow:  #ffffff;